.afish-post{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.afish-post-bg{
    background-color: rgba(128, 128, 128, 0.76);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.afish-post-content{
    position: relative;
    max-width: 1200px;
    background-color: black;

}

.afish-post-content img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh-120px);
    margin-left: auto;
    margin-right: auto;
}

.afish-post-content h4 {
    color: white;
    text-align: center;
}